.top-header {
    padding: 20px 10px;
    background: #3a3a3a;
    margin: 5px;
    color: #fff;
}

.titulo {
    font-size: 30px;
    font-family: revert;
}

.icon {
    text-decoration: none;
    color: #fff;
}

.icon:hover {
    color: #000;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}